<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <picture>
                <source srcset="
                /img/header/logo-desk.png 1x,
                /img/header/logo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/header/logo-mob.png 1x,
                /img/header/logo-mob@2x.png 2x
                 " media="(max-width: 1439px)" />
                <img src="/img/header/logo-mob.png" alt="Vector Tap" loading="lazy" />
            </picture>
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M34 30L10 30" stroke="white" stroke-width="2" stroke-linecap="round" />
    <path d="M34 22L10 22" stroke="white" stroke-width="2" stroke-linecap="round" />
    <path d="M34 14L10 14" stroke="white" stroke-width="2" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#how">How It Works</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#challenge">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#high">High Scores</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#testimonials">Testimonials</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#how">How It Works</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#challenge">Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#high">High Scores</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#testimonials">Testimonials</a>
        </li>
    </ul>
</div>