.footer {
background: #132f4e;
}
.footer-container{
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-wraper{
  display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-wrap-text{
  margin-top: 16px;
  margin-bottom: 24px;
}
.footer-navigation{
  display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-text{
  font-size: 11px;
  text-align: right;
}
@media only screen and (min-width: 1440px) {
  .footer-wraper {
      flex-direction: row;
     justify-content: space-between;
    }
    .footer-navigation{
      align-items: end;
    }
 .footer-text{
  font-size: 12px;
 }
}