.home-title{
    font-family: "Fredoka", sans-serif;
        font-weight: 600;
        font-size: 64px;
        line-height: 1.2;
        color: #fff;
text-shadow:
        3px 0 0 #000,
        -3px 0 0 #000,
        0 3px 0 #000,
        0 -3px 0 #000,
        3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000;
        margin-bottom: 16px;
        margin-top: 20px;
}
.home-subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 32px;
}
.home-img{
    margin: 18px auto 0;
}
.home-link{
    border-radius: 24px;
        padding: 16px 32px 16px 24px;
        width: 256px;
        height: 64px;
        background: #d99900;
        font-family: "Fredoka", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.5;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
    margin: 18px auto 0;
    transition: background 0.3s ease-in-out;
}
.home-link:hover{
        background: #aa7701;
}
@media only screen and (min-width: 1440px) {
 .home-container{
    position: relative;
 }
 .home-title{
    font-size: 96px;
    margin-top: 60px;
 }
 .home-subtitle{
    font-size: 28px;
    margin-bottom: 24px;
 }
 .home-wrap{
    width: 544px;
 }
 .home-img{
    position: absolute;
    right: 11%;
    bottom: 20%;
    margin-top: 0;
 }
 .home-link{
    margin-left: 0;
    margin-top: 60px;
}
}
/* How It Works */
.how-wrapper-containers{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.how-container{
    display: flex;
        flex-direction: column;
        gap: 32px;
}
@media only screen and (min-width: 1440px) {
.how-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.how-wrapper{
    width: 544px;
}
.how-one{
    width: 317px;
}
.how-wrapper-containers{
    gap: 24px;
}
}
/* The Challenge */
.challenge-container{
    display: flex;
        flex-direction: column;
        gap: 32px;
}
.challenge-text{
    margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
 .challenge-container{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
 }
 .challenge-text {
     margin-top: 24px;
 }
}
/* Why Play Vector Tap? */
.why-wrapper-containers{
    margin-top: 48px;
}
.why-container{
    display: flex;
        flex-direction: column;
        gap: 32px;
}
@media only screen and (min-width: 1440px) {
.why-container {
    flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .why-one{
        width: 292px;
    }
.mob{
    display: none;
}
}
/* High Score Mode */
.high-text{
    margin-bottom: 8px;
}
.high-container{
    display: flex;
        flex-direction: column;
        gap: 32px;
}
@media only screen and (min-width: 1440px) {
.high-container {
    flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
.high-one{
    width: 164px;
}
.high-two{
    width: 347px;
}
}
/* Minimal Design */
.minimal-container{
    display: flex;
        flex-direction: column;
        gap: 32px;
}
.minimal-wrap{
    margin-top: 48px;
}
.minimal-list{
    margin-top: 8px;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
.minimal-container {
    flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
.minimal-wrap{
    width: 259px;
}
.minimal-list {
    margin-top: 16px;
    margin-bottom: 24px;
}
}
/* Testimonials */
.my-swiper .swiper-slide{
    border-radius: 16px;
        padding: 12px 16px;
background: rgba(0, 0, 0, 0.4);
color: #fff;
}
.author{
 margin-bottom: 16px;   
}