@import url('./styles.css');

.background {background: #0072dd;
    text-align: left;
}

.privacy-title {
text-shadow:inherit;
    margin-top: 70px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    text-shadow: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}



.policy-span {
    font-weight: 700;
}